/*** CSS 1 ***/
.da_hide-modal {
	display: none !important;
}
#site-launch-modal-email .modal-window {
	position: fixed !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50) !important;
}
