#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6f9d821.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div > div.elementor-element.elementor-element-77610a0.elementor-widget.elementor-widget-text-editor > div > div > p {
    display: none;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-caabab7.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div > div.elementor-element.elementor-element-0443938.elementor-widget.elementor-widget-text-editor > div > div > p {
    display: none;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6204ba1.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div > div.elementor-element.elementor-element-662b82a.elementor-widget.elementor-widget-text-editor > div > div > p {
    display: none;
}
.da_bullet-container {
    margin-bottom: 25px;
}



/*Changes*/

#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6f9d821.elementor-column.elementor-col-33.elementor-top-column > div > div > section {
    height: 700px;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-caabab7.elementor-column.elementor-col-33.elementor-top-column > div > div > section {
    height: 700px;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6204ba1.elementor-column.elementor-col-33.elementor-top-column > div > div > section {
    height: 700px;
}



/*Innter Box*/
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6f9d821.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div {
    height: 680px;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-caabab7.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div {
    height: 680px;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6204ba1.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div {
    height: 680px;
}



/*Shop Now CTA*/
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6f9d821.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div > div.elementor-element.elementor-element-084eba2.elementor-align-center.elementor-widget.elementor-widget-button {
    position: absolute;
    bottom: 10px;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-caabab7.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div > div.elementor-element.elementor-element-c821b12.elementor-align-center.elementor-widget.elementor-widget-button {
    position: absolute;
    bottom: 10px;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6204ba1.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div > div.elementor-element.elementor-element-ec443b3.elementor-align-center.elementor-widget.elementor-widget-button {
    position: absolute;
    bottom: 10px;
}


@media (max-width: 1070px) {
    #ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div {
        display: flex;
        flex-direction: column;
    }
    #ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div {
        width: 100%;    
    }

 
 #ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6f9d821.elementor-column.elementor-col-33.elementor-top-column > div > div > section {
    height: inherit;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-caabab7.elementor-column.elementor-col-33.elementor-top-column > div > div > section {
    height: inherit;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6204ba1.elementor-column.elementor-col-33.elementor-top-column > div > div > section {
    height: inherit;
}

#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6f9d821.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div {
    height: inherit;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-caabab7.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div {
    height: inherit;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6204ba1.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div {
    height: inherit;
}


#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6f9d821.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div > div.elementor-element.elementor-element-084eba2.elementor-align-center.elementor-widget.elementor-widget-button {
    position: relative;
    bottom: unset;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-caabab7.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div > div.elementor-element.elementor-element-c821b12.elementor-align-center.elementor-widget.elementor-widget-button {
    position: relative;
    bottom: unset;
}
#ajax-content-wrap > div.container-wrap > div > div > div > div > div > section.elementor-element.elementor-element-fa728fd.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section > div > div > div.elementor-element.elementor-element-6204ba1.elementor-column.elementor-col-33.elementor-top-column > div > div > section > div > div > div > div > div > div.elementor-element.elementor-element-ec443b3.elementor-align-center.elementor-widget.elementor-widget-button {
    position: relative;
    bottom: unset;
}
}
