/*** CSS 1 ***/
div.gform_wrapper form.two-step-form .gfield label.da-label {
    display: block !important;
    font-size: 16px;
    margin-bottom: 5px;
}

#input_11_4, #input_11_11 {
    margin-left: 0;
}

/*Remove State*/
#input_11_15 > option.gf_placeholder {
    display: none;
}
