/* CSS 1*/
.notice-bar.slideDown.small--hide {
    display: none;
}

@media screen and (min-width: 769px) {
    .nav-bar {
        display: none;
    }

}

@media screen and (max-width: 768px) {

#mobileNavBar {
	display: none;
}
.grid-item.large--three-fifths.medium--one-half.text-center {
    display: none;
}
.h1.header-logo {
    padding: 10px 0 !important;
}
body {
    padding-top: 0px;
}
}
