#master-slider-main-widget-3 {
	min-height: 700px !important;

}
.headerContainer {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 700px;
}
.subHeaderContainer {
	max-width: 90%;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: 40px;
	margin-bottom: 0;
	margin-top: 100px;

}

.headerImg {
	position: absolute;
	min-width: 100%;
	right: 0;
	left: 0;
	bottom: 0;
	top: -10%;
	z-index: -2;
	background-image: url(https://disruptive-advertising.s3-us-west-2.amazonaws.com/sun-wise-capital/HomepageTopSection/manSmiling.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 70% 30%;
}
.headerImgFilter {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgb(0,0,0, .2);

}

.headerText {
	max-width: 900px;
}
.headerText h1 {
	font-size: 46px !important;
	color: white;
	font-family: lato !important;
	text-transform: none;
}
.headerText h4 {
	font-size: 22px !important;
	color: #eee;
	line-height: 23px !important;
	font-family: lato !important;
}

.headerBtn {
	color: #fff !important;
	background: #6cad3e;
	max-width: 600px;
	width: 350px;
	border-radius: 30px;
	font-weight: 400 !important;
	font-size: 25px !important;
	padding: 10px;
	text-align: center;
	font-family: lato !important;
	text-transform: uppercase;
	margin: 15px 0;
}
.headerBtn:hover {
	text-decoration: none;
}

.iconsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.iconTextWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 20px;
}

.iconWrapper {
	flex: 1;
}
.iconWrapper img {
	max-width: 80%;
}
.iconTextWrapper h2 {
	flex: 2;
	font-size: 30px !important;
	color: white;
	margin: 0;
	white-space: nowrap;
	font-family: lato !important;
	font-weight: 400 !important;
}

.featuredBannerContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100vw !important;
	position: absolute;
	bottom: 0;
}
.featuredBannerWrapper {
	background: rgb(255,255,255,.8);
	height: 90px; 
	width: 100%;
	position: relative;
}
.featuredBannerWrapper img {
	height: 100%;
	position: absolute;
	right: 0;
	padding-right: 130px;
	transform: scale(1.5);
}
@media screen and (max-width: 1200px) {
	.headerImg {
		background-size: cover;
	}
}

@media screen and (max-width: 958px) {
	.subHeaderContainer {
		min-height: 500px;
		padding-bottom: 40px;
	}
	.headerBtn {
		max-width: 350px;
		margin: 0 auto;
	}
	.headerText h1 {
		font-size: 36px !important;
	}
	.iconsContainer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.iconTextWrapper {
		width: 100%;
	}
	.iconWrapper {
		max-width: 70px;
	}
	.iconTextWrapper:first-child img {
		margin-left: 12px;
	}
	.iconTextWrapper:nth-child(3) img {
		margin-left: 5px;

	}
	.iconTextWrapper h2 {
		font-size: 36px !important;
	}
	.featuredBannerContainer {
		justify-content: center;
	}
	.featuredBannerWrapper {
		padding-right: 0;
	}
	.featuredBannerWrapper img {
		width: 100%;
		transform: scale(1);
		padding: 0 40px;
	}
	.featuredBannerContainer {
		display: none;
	}
}
@media screen and (max-width: 550px) {
	.headerBtn {
		font-size: 22px !important;
		padding: 4px;
		margin: 5px;
		width: 90%;
	}
	#master-slider-main-widget-3 {
		min-height: 500px !important;
	}
	.headerContainer {
		min-height: 500px;
	}
	.subHeaderContainer {
		margin-top: 20px;
		min-height: 500px;
	}
	.headerText h1 {
		font-size: 30px !important;
	}
	.iconTextWrapper h2 {
		font-size: 30px !important;
	}
}


#lp-pom-image-115 .lp-pom-image-container img {
	object-fit: contain !important;
}
