@media only screen and (max-width: 749px) {
button.btn.btn--addCart.btn--addCart--mobile.hide.small--show {
		bottom: 0;
		position: relative !important;
		margin: 0 auto;
		margin-top: 45px;
	}
	.CTARed {
		background: #80022a !important;
	}
}
