/*** CSS 1 ***/
.da_flex-ctn {
    display: flex;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.da_left-ctn {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    padding-top: 0px;
    width: 388px;
    max-width: 100%;
}
.da_left-ctn h4 {
    margin: 10px;
    margin-top: 0px;
    width: 100%;
}
.da_left-ctn p {
    font-size: 14px;
}
.da_left-ctn a {
    background: #efefef;
    color: #1d5532;
    border-radius: 3px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    padding: 8px;
    cursor: pointer;
}
.da_left-ctn a:hover {
    text-decoration: none;
    background: #fff;
}

.sp-quiz__question-draw-image {
    width: 700px;
    max-width: 100%;
    height: 570px;
    object-fit: cover;
    object-position: bottom;
}

.da_right-ctn {
    padding: 40px;
    padding-top: 0px;
    position: relative;
}
.da_right-ctn:before {
    width: 1px;
    height: 88%;
    content: '';
    display: block;
    background-color: #cccccc;
    position: absolute;
    left: 0;
    opacity: .6
}
.da_right-ctn > p:first-child {
    text-align: left;
    font-size: 22.4px;
    margin-bottom: 10px;
}
.da_right-subtext {
    font-size: 14px;
}
.da_right-ctn > div:nth-child(3) {
    margin: 0px;
    width: 100% !important;
    margin-bottom: 0px !important;
}
.da_right-ctn > div:nth-child(4). > div {
    margin: 0px;
        margin-top: 0px !important;
}
.da_right-ctn .sp-my-12 {
    margin-top: 24px;
}
.da_right-ctn >  div:nth-child(5) {
    margin: 0px;
    display: flex;
    justify-content: center;
}
.da_right-ctn >  div:nth-child(4) > div {
    margin: 0px;
    width: 100%;
}
.da_mobile {
    display: none;
}


@media screen and (max-width: 600px) {
    .da_mobile {
        display: flex;
    }
    .da_mobile h4 {
        margin-left: 0px;
    }
    .da_mobile p {
        line-height:25px;
        margin-bottom: 0px;
    }
    .da_mobile img{
        margin-right: 20px;
        width: 45%;
        height: 110px;
    }
    .da_left-ctn > h4 {
        display: none;
    }
    .da_left-ctn > p {
        display: none;
    }
    .da_left-ctn > img {
        display: none;
    }
    .da_flex-ctn {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .da_left-ctn {
        padding: 0px;
        margin-bottom: 25px;
    }
    .da_right-ctn {
        margin-top: 25px;
        padding: 0px;
    }
    .da_right-ctn p {
                text-align: center !important;
    }
    .da_right-subtext {
        display: none;
    }
    .da_right-ctn:before {
        display: none;
    }
}
