<div class="page-width">
{{ pages[section.settings.pageid].content }}
</div>

{% schema %}
  {
    "name": "Include Page",
    "class": "index-section",
    "settings": [
      {
       "type":      "page",
       "id":        "pageid",
       "label":     "Page",
       "info":      "Select a theme page"
      }
    ],
        "presets": [
      {
        "name": "Theme page",
        "category": "Advanced Layout"
      }
    ]
  }
{% endschema %}
