.header-2 {
	margin-bottom: 0;
}
.textImgCtn {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin: 15px 0;
}
.textImgCtn div {
	padding: 0;
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.textImgCtn h1 {
	font-size: 16px;
	flex: 5;
	transform: translateY(-3px);
}
.imgCtn {
	display: block !important;
	margin: 0 !important;
	flex: 1;
}
.imgCtn img {
	margin: 0 auto;
	max-width: 100%;
}
.imgCtn img {
	transform: scale(.6);
}
.textImgCtn > div:nth-child(1) > div > img {
	transform: scale(.5);
}
