/*** CSS 2 ***/

.da-list {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.da_right {
  flex: 1;
  padding-right: 20px;
  margin-left: 30px;
}
.da_left {
  flex: 1;
  margin-right: 30px;
}
/******************
BASICS
******************/


#da-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    color: #031C36;
    padding: 70px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90vw;
    max-height: 90vh;
    max-width: 1000px;
    overflow-y: auto;
}

#da-faq h2 {
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    text-transform: none;
    margin: 0;
    color: #000;
}

#da-faq p {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: right;
    position: relative;
    line-height: 1.4;
}

#da-faq p.da-sub {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    max-width: 300px;
    margin: 1em auto;
}

#da-faq hr {
    border: 1px solid #f93f82;
    width: 135px;
    margin-bottom: 80px;
    margin-top: 10px;

}

#da-faq .da-list .da-q {
    padding-right: 50px;
    cursor: pointer;
    margin-top: .25em;
    display: flex;
    text-align: left;
    border-bottom: 2px solid #f93f82;
}

#da-faq .da-list .da-q:before {
    content: '\f067';
    font-family: 'FontAwesome';
    font-weight: 100;
    font-size: 1em;
    position: absolute;
    right: 20px;
    line-height: 1;
}

.da-list .da-a {
    background: white;
    padding: 0 20px;
    margin-right: 20px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .45s ease;
    -moz-transition: all .45s ease;
    transition: all .45s ease;
}

#da-faq .da-list .da-a p,
#da-faq .da-list .da-a p a {
    margin: 0;
    text-align: left;
    font-style: italic;
    font-size: 1.6rem;
    color: inherit;
}

#da-faq .da-list .da-a p:not(:last-child){
    margin-bottom: 5px;
}

#da-faq .da-list .da-a p a {
    text-decoration: underline;
}

/******************
DRAWERS
******************/
#da-faq .da-list .da-q.da-open:before {
    content: '\f068';
}

#da-faq .da-list .da-q.da-open + .da-a {
    padding: 20px;
    max-height: 5000px;
    margin-bottom: 20px;
}


/****************
PopUp
*****************/
.da_close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
.da_close-btn i {
  font-size: 18px;
}
.da_popup-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background: rgb(50, 50, 50, .8);
  z-index: 999;
}
.da_banner-sec {
	background-color:#F5F5F5;
  margin-bottom: 0px;
}
.da_banner-sec h1 {
  color: #000;
  margin: 0px;
  padding: 40px 10px;
  text-align: center;
  font-size: 36px;
}
.da_banner-sec h1 a {
  cursor: pointer;

  color: #f94081;
}

@media only screen and (max-width: 1000px) {
  .da-list {
    flex-direction: column;
  }
  .da_left {
    margin-right: 0px;
  }
  .da_right {
    margin-left: 0px;
    width: 100%;
    padding-right: 0px;
  }
  #da-faq hr {
    margin-bottom: 40px;
  }
  .da-list .da-a {
    margin-right: 0px;
}
}

@media only screen and (max-width: 400px) {
  #da-faq {
    padding: 10px 10px;
  }
  .da-list {
    max-height: 70%;
    overflow-y: scroll;
  }
}
