/*** CSS 2 ***/
div.fm-timestamp {
    display: none;
}
.app-page-section.app-page-section-info {
    margin-top: 0px !important;
    background: black;
}
.app-page-section.app-page-section-info h2 {
    color: white;
}
.app-page-section.app-page-section-info .app-description {
    color: white;
}





.app-page-section.app-page-section-info {
    height: 200px
}
.app-page-section-info-content {
    height: 200px;
    max-width: 80% !important;
}
.app-info-image {
    left: -30px;
}
.app-info-content {
    position: absolute;
    right: 0;
}
.app-description {
    padding-right: 35%;
}


@media screen and (max-width: 1000px) {
    .app-description {
        padding-right: 10%;
    }
}

@media screen and (max-width:850px) {
    .app-description {
        padding-right: 5%;
    }
}



@media screen and (max-widtH: 767px) {
    .app-info-image {
        left: 0px;
    }
    .app-info-content {
        position: relative;
        right: 0;
    }
    .app-page-section.app-page-section-info {
        height: 100%;
    }
    .app-page-section-info-content {
        height: 100%;
        max-width: 80% !important;
    }
    .app-description {
        padding-right: 0%;
    }
}
