  
<div class="page-width feature-row" style="margin-top:60px;">
  

  <div class="feature-row">
    
      
    <div class="feature-row__item">
      
        
        
<style>
  
  
  @media screen and (min-width: 750px) { 
    #FeatureRowImage-1505422623588 {
      max-width: 465px;
      max-height: 505px;
    }
    #FeatureRowImageWrapper-1505422623588 {
      max-width: 465px;
      max-height: 505px;
    }
   } 
  
  
    
    @media screen and (max-width: 749px) {
      #FeatureRowImage-1505422623588 {
        max-width: 690.5940594059406px;
        max-height: 750px;
      }
      #FeatureRowImageWrapper-1505422623588 {
        max-width: 690.5940594059406px;
      }
    }
  
</style>

        <div id="FeatureRowImageWrapper-1505422623588" class="feature-row__image-wrapper js">
          <div style="padding-top:108.6021505%;">
            <img id="FeatureRowImage-1505422623588" class="feature-row__image lazyloaded" src="//cdn.shopify.com/s/files/1/2330/0585/files/phone1_600x600.png?v=1507305333" alt="">
          </div>
        </div>

        <noscript>
          &lt;img src="//cdn.shopify.com/s/files/1/2330/0585/files/phone1_600x600@2x.png?v=1507305333" alt="" class="feature-row__image" /&gt;
        </noscript>
      
    </div>
  
    

    <div class="feature-row__item feature-row__text feature-row__text--left">
      
        <h2 class="h3" style="font-size: 49px;">App Controls</h2>
      
      
        <div class="custom-feature-row-subtext">
          <ul>
            <li style="list-style: circle">
              <h4 id="list-item-one" style="font-size: 1.4em; margin: 10px; color: rgb(0, 173, 239);"><a href="javascript:void(0)" onmouseover="indexOneClicked()">View and control all of the rooms in your home</a></h4>
            </li>
            <li style="list-style: circle">
              <h4 id="list-item-two" style="font-size: 1.4em; margin: 10px; color: black;"><a href="javascript:void(0)" onmouseover="indexTwoClicked()">Enable Energy Savings mode and customize your preferred temperature settings</a></h4>
            </li>
            <li style="list-style: circle">
              <h4 id="list-item-three" style="font-size: 1.4em; margin: 10px; color: black;"><a href="javascript:void(0)" onmouseover="indexThreeClicked()">Get battery updates and see when solar charging occurs</a></h4>
            </li>
            <li style="list-style: circle">
              <h4 id="list-item-four" style="font-size: 1.4em; margin: 10px; color: black;"><a href="javascript:void(0)" onmouseover="indexFourClicked()">Set daily and weekly schedules</a></h4>
            </li>
            <li style="list-style: circle">
              <h4 id="list-item-five" style="font-size: 1.4em; margin: 10px; color: black;"><a href="javascript:void(0)" onmouseover="indexFiveClicked()">Turn on sun-tracking to maintain the same light levels you prefer even as times and seasons change</a></h4>
            </li>
          </ul>
        </div>
      
      
      
        <a href="https://itunes.apple.com/us/app/mysmartblinds/id1042778784?mt=8" class="btn" style="background: url('https://cdn.shopify.com/s/files/1/2330/0585/files/applestore.png?9631039859292085082');background-position: center;background-size:cover;background-repeat:no-repeat;width:189px;height:56px;">
          
        </a>
      
      
        <a href="https://play.google.com/store/apps/details?id=com.mysmartblinds2.android" class="btn" style="background: url('https://cdn.shopify.com/s/files/1/2330/0585/files/googlestore.png?9631039859292085082');background-position: center;background-size:cover;background-repeat:no-repeat;width:189px;height:56px;">
          
        </a>
      
    </div>

    
    
    
    <script>
      var selectedIndex = 0;
      
      function indexOneClicked(){
        selectedIndex = 0;
        document.getElementById("list-item-one").style.color = "#00adef";
        document.getElementById("list-item-two").style.color = "black";
        document.getElementById("list-item-three").style.color = "black";
        document.getElementById("list-item-four").style.color = "black";
        document.getElementById("list-item-five").style.color = "black";
        updateImage();
      }
      
      function indexTwoClicked(){
        selectedIndex = 1;
        document.getElementById("list-item-one").style.color = "black";
        document.getElementById("list-item-two").style.color = "#00adef";
        document.getElementById("list-item-three").style.color = "black";
        document.getElementById("list-item-four").style.color = "black";
        document.getElementById("list-item-five").style.color = "black";
        updateImage();
      }
      
      function indexThreeClicked(){
        selectedIndex = 2;
        document.getElementById("list-item-one").style.color = "black";
        document.getElementById("list-item-two").style.color = "black";
        document.getElementById("list-item-three").style.color = "#00adef";
        document.getElementById("list-item-four").style.color = "black";
        document.getElementById("list-item-five").style.color = "black";
        updateImage();
      }
      
      function indexFourClicked(){
        selectedIndex = 3;
        document.getElementById("list-item-one").style.color = "black";
        document.getElementById("list-item-two").style.color = "black";
        document.getElementById("list-item-three").style.color = "black";
        document.getElementById("list-item-four").style.color = "#00adef";
        document.getElementById("list-item-five").style.color = "black";
        updateImage();
      }
      
      function indexFiveClicked(){
        selectedIndex = 4;
        document.getElementById("list-item-one").style.color = "black";
        document.getElementById("list-item-two").style.color = "black";
        document.getElementById("list-item-three").style.color = "black";
        document.getElementById("list-item-four").style.color = "black";
        document.getElementById("list-item-five").style.color = "#00adef";
        updateImage();
      }
      
      function updateImage(){
        var image = document.getElementById("FeatureRowImage-1505422623588");
        if (selectedIndex == 0){
          image.src = "//cdn.shopify.com/s/files/1/2330/0585/files/phone1_600x600.png?v=1507305333"

        }
        else if (selectedIndex == 1) {
          image.src = "//cdn.shopify.com/s/files/1/2330/0585/files/phone5_600x600.png?v=1507305369"

        }
        else if (selectedIndex == 2) {
          image.src = "//cdn.shopify.com/s/files/1/2330/0585/files/phone3_2abff9cb-1b57-4b11-b611-9c9d143e6d16_600x600.png?v=1507305494"

        }
        else if (selectedIndex == 3) {
          image.src = "//cdn.shopify.com/s/files/1/2330/0585/files/phone4_600x600.png?v=1507305361"

        }
        else if (selectedIndex == 4) {
          image.src = "//cdn.shopify.com/s/files/1/2330/0585/files/phone2_79c08835-c2ad-4d49-b33f-9bd691eba79e_600x600.png?v=1507647606"

        }
      }
      
    </script>
    
  </div>
  
      
</div>