<div id="smartphone-compatibility" class="custom-youtube-overlay">
  <div class="popup-inner">
    <a href="javascript:void(0)" class="closebtn"  onclick="closePopup('smartphone-compatibility')">&times;</a>
    {{ pages[pageCompatibility].content }}
  </div>

</div>

