<div id="splititOverlay" style="max-width: 600px" class="custom-youtube-overlay">
  			<div class="popup-inner ">
              <pre id="object"></pre>
              <a href="javascript:void(0)" class="closebtn" style="color:#f1f1f1;" onclick="closePopup('splititOverlay')">&times;</a>
              <img src="https://cdn.shopify.com/s/files/1/2330/0585/files/splitit.png?15421477240513741825" class="wg-img" style="width:23%;margin-top:20px"/>
              <h2 class="wg-small" style="margin-top: 40px;font-size:20px;">Make up to 6 easy monthly payments with 0% APR </h2>
              <h4 style="margin-bottom:60px;" class="wg-after-check"> Select Splitit at checkout </h4>
              <h4 style="margin-botom:60px" class="wg-after-check"><b><i>NO</i></b> interest or fees, <b><i>NO</i></b> application, <b><i>NO</i></b> credit check</h4>
              <h3 class="wg-small" style="background: #f1f1f1; padding: 40px;">Subject to credit check and approval. Down payment may be required. For purchases under $100, limited payment options may be available. Estimated payment amount excludes taxes, add-ons and shipping fees. See www.splitit.com/faq for details.</h3>
  			</div>
</div>

