/*** CSS 1 ***/
.da_stars {
	color: #FFC100;
	padding-left: 24px;
	margin-left: 0px;
	position: relative;
	z-index: 2;
	margin-top: -10px;
	padding-bottom: 10px;
	font-style: italic;
	background: whitesmoke;
}
.product-single__form.js-product-form {
	padding-top: 0px;
	margin-top: -10px;
}
.announcement {
	display: none;
}
.da_stars-mobile {
	display: none;
}

.da_search {
	color: #fff;
	cursor: pointer;
	margin-right: 20px;
	font-size: 20px;
	transform: translateY(1px);
}
.da_search-bar { padding-top: 0px;
	padding-bottom: 0px;
}
.da_slide-up {
	height: 0px;
}

.product-single__box.js-product-single-box {
	position: relative !important;
}
.product-single__box.js-product-single-box.scroll-to-fixed-fixed {
	position: relative !important;
	left: 0px !important;
	top: 0px !important;
}
.product-single__content.js-sr-loaded {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
}
.da_banner-ctn {
	background: rgba(235,235,235,1.00);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 30px 30px 30px;
	margin-bottom: 60px;
	margin-top: 20px !important;

}
.da_banner-inner-ctn {
	max-width: 1300px !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.da_header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	padding-bottom: 50px;
}
.da_header h2 {
	text-align: center;
}
.da_header span br {
	display: none;
}
.da_underline {
	background: rgba(33,33,33,1.00);
	height: 4px;
	width: 45px;
	text-align: center;
	margin-top: -15px;
}
.da_banner-content {
	display: flex;
	justify-content: space-evenly;
}
.da_section {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	margin: 0px 30px;
}
.da_img-ctn {
	max-height: 220px;
	min-height: 220px;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #fff;
}
.da_img-ctn img {
	height: 100%;
	min-width: 100%;
	object-fit: cover;
}
.da_section:nth-child(3) img {
	object-fit: contain;
}
.da_section:nth-child(1) img {
	min-height: 100%;
}

.da_section-text {
	width: 100%;
	margin-top: 20px;
}
.da_section-text h5 {
	line-height: 22px;
	margin-bottom: 0px;
	font-size: 19px;
}
.da_section-text p {
	margin-top: -18px;
	line-height: 18px;
	font-weight: 600;
	font-style: italic;
}

/*** CSS 2 ***/
.da_vp-ctn {
	padding: 5px 50px;
}
.da_vp {
	display: flex;
}
.da_vp img {
	max-width: 20px;
	margin-right: 8px;
	object-fit: contain;
}
.da_vp span {
	font-size: 20px;

}

        .da_section:nth-child(1) img {
        display: none !important;
    }
    .da_section:nth-child(1) .da_img-ctn{
        background-image: url(https://s3-us-west-1.amazonaws.com/static.disruptive.co/ill-currency/pdp-social-proof-additional-content/working.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fefcfd;
    }


@media screen and (max-width: 1100px) {
	.da_vp-ctn {
		padding: 5px 20px;
	}
}

@media screen and (max-width: 981px) {
	.section__title-text.product-single__title-text.js-sr-loaded {
		font-size: 16px;
	}
	.da_banner-content {
		flex-direction: column;
	}
	.da_header span br {
		display: block;
	}
	.da_header br {
		display: none;
	}
}


@media screen and (max-width: 767px) {
	.da_stars {
		display: none;
	}
	.da_stars-mobile {
		display: block;
		font-size: 15px;
		font-style: italic;
		color: #FFC100;
		transform: translateY(-2px);
		margin-left: 0px;
		background: whitesmoke;
		padding-bottom: 10px;
		cursor: pointer;
	}
	.da_stars-mobile span {
		color: #5e5e5e;
		font-weight: 100;
		letter-spacing: 0px;

		font-size: 12px;
		margin-right: 2px;
	}

}


@media screen and (max-width: 400px) {
	.da_vp span {
		font-size: 18px;
	}
	.da_vp img {
		max-width: 18px;
		transform: translateY(-3px);
	}
	.da_banner-ctn {
		padding: 0px;
		margin-top: 0px !important;
	}
	.da_header {
		min-width: 100%;
		padding-bottom: 40px;
	}
	.da_header h2 {
		font-size: 17px;
		width: 100%;
	}
	.da_section {
		margin-bottom: 30px;
	}
	.da_section-text {
		background: #fff;
		margin-top: 0px;
		padding: 8px;
		padding-top: 12px;
	}
	.da_section-text h5 {
		font-size: 16px;
		letter-spacing: 1px;
	}
	.da_section-text p {
		font-size: 14px;
		margin-top: -28px;
	}
	.da_section:nth-child(3) img {
		display: none;
	}
	.da_section:nth-child(3) .da_img-ctn{
		background-image: url(https://s3-us-west-1.amazonaws.com/static.disruptive.co/ill-currency/pdp-social-proof-additional-content/shirt.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #fefcfd;
	}
}

@media screen and (max-width: 340px) {
	.da_vp span {
		font-size: 16px;
	}
}
