<div class="grid grid--no-gutters hiw">
<center>
<h2>How It Works</h2>
</center>
<div class="grid__item medium-up--one-half js"><img src="//cdn.shopify.com/s/files/1/2442/0679/files/automate-box_large.png?v=1559666339" alt="" />
<h3>Automate My Window Coverings</h3>
<h5>Already have window coverings you love? Make them smart!</h5>
<br /> <br />
<h5>SEE MORE</h5>
<br /> <br />
<ol>
<li>
<h5>Choose the Automation Kit for your existing window treatments: rollershades or blinds.</h5>
<br /> <br /> <br /> <img src="//cdn.shopify.com/s/files/1/2442/0679/files/blinds_600a34c5-0740-4a39-9e96-ca27a0b83524_large.png?v=1559666353" alt="" />
<h5 class="inline">AND/OR</h5>
<img src="//cdn.shopify.com/s/files/1/2442/0679/files/rollershades_large.png?v=1559666369" alt="" /></li>
<li>
<h5>Pick the number of Automation Kits you need.</h5>
<br /> <br /> <br /> <img src="//cdn.shopify.com/s/files/1/2442/0679/files/kits_large.png?v=1559666359" alt="" style="margin-left: 20%;" /></li>
<li>
<h5>DIY or leave it to the pros?</h5>
<br /> <br />
<h5 class=" underline">DIY</h5>
<p>We'll send you your Automation Kits with simple instructions. That's it!</p>
<h5 class=" underline">BUY IT INSTALLED</h5>
<p>Sit back, relax, and wait for a pro from our network of installers to contact you for your installation. That's it!</p>
</li>
</ol>
<div class="divider" style="margin-top: 40px;"></div>
<a href="#" class="btn-custom-buy hero__cta">GET STARTED</a></div>
<div class="grid__item medium-up--one-half js light"><img src="//cdn.shopify.com/s/files/1/2442/0679/files/window_large.png?v=1559669252" alt="" style="opacity: 1; margin-botom: 1rem;" />
<h3>Customize New Window Coverings</h3>
<h5>Get all new custom-made window coverings sent tto your doorstep.</h5>
<br /> <br />
<h5>SEE MORE</h5>
<br /> <br />
<ol>
<li>
<h5>You choose: rollershades or blinds.</h5>
<br /> <br /> <br /> <img src="//cdn.shopify.com/s/files/1/2442/0679/files/blinds_600a34c5-0740-4a39-9e96-ca27a0b83524_large.png?v=1559666353" alt="" />
<h5 class="inline">AND/OR</h5>
<img src="//cdn.shopify.com/s/files/1/2442/0679/files/rollershades_large.png?v=1559666369" alt="" /></li>
<li>
<h5>Pick the number of window coverings you need.</h5>
<br /> <br /> <br /> <img src="//cdn.shopify.com/s/files/1/2442/0679/files/kits_large.png?v=1559666359" alt="" style="margin-left: 20%;" /></li>
<li>
<h5>DIY or leave it to the pros?</h5>
<br /> <br />
<h5 class=" underline">DIY</h5>
<p>We'll send a form following purchase to gather your measurements, mount type, color preference, and other customizations. Then we'll send you your window coverings with simple instructions. That's it!</p>
<h5 class=" underline">BUY IT INSTALLED</h5>
<p>Sit back, relax, and wait for a pro from our network of installers to contact you. They'll handle your measurement and installation. That's it!</p>
</li>
</ol>
<div class="divider"></div>
<a href="#" class="btn-custom-buy hero__cta">GET STARTED</a></div>
</div>
<h3>Still have more questions? <br /><a href="#">Learn More</a></h3>
<style><!--
.divider{
  border-bottom: 4px solid lightgray;
  height: 2rem;
  margin-bottom: 2rem;
}
 .hiw h2{
   font-size: 2.4rem;
   margin-bottom: 2.4rem;
 }
 .hiw .grid__item{
   text-align: center;
   padding: 2rem;
 }
 .hiw img{
   max-height: 90px;
   margin-bottom: 1rem;
 }
 .hiw h3, .hiw h5{
   max-width: 480px;
   margin: auto;
 }
.hiw ol{
  list-style: none;
}
 .hiw ol li{
   counter-increment: tiltcounter;
   text-align: left;
   position: relative;
   padding-left: 100px;
   max-width: 420px;
    padding-top: 2rem;
    margin-bottom: 2.5rem;
 }
 .hiw ol li::before{
   content: counter(tiltcounter);
   color: white;
   font-size: 2.5rem;
   width: 40px;
   height: 40px;
   padding: 40px 40px;
   position: absolute;
   left: 0;
   top: 0;
   background: #28ACE1;
   border-radius: 50%;
   text-align: center;
line-height: 5px;
    padding-left: 30px;
    padding-right: 50px;
 }
 .hiw .underline{
   text-align: left;
   border-bottom: 4px solid #28ACE1;
   padding-bottom: .5rem;
   max-width: 60%;
   margin-left: 0 !important;
 }
.hiw h5.inline{
  display: inline-block;
  vertical-align: top;
  padding: 2rem;
}
.hiw .light img{
  opacity: .7;
}
.hiw .light ol li::before{
  background-color: rgba(40,172,225,0.7)
}
--></style>
