<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
<!--       <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div> -->
      <div class="rte">
        {% if page.title == "MySmartBlinds Installers" %}
        <h1 style="text-align: center;">MySmartBlinds Installers</h1>
		<h3 id="alertTitle" style="text-align: center;">We are sorry <br><br> If you would like to search a MySmartBlinds installer, <br> please use a desktop computer or tablet</h3>
        {% else %}
        {{ page.content }}
        {% endif %}
      </div>
    </div>
  </div>
</div>







