/* CSS 3 */

/*** CSS 1 ***/

/*Breadcrumbs*/
.da_breadcrumbs {
    margin: 30px auto;
    width: 1200px;
    justify-self: center;
    display: block;
    max-width: 82vw;
}
.da_breadcrumbs span {
    color: black;
}
.da_breadcrumbs a, .da_breadcrumbs span:before{
    color: black !important;
}
/*****END BREADCRUMBS****/

/**Header*/
#columns > div > h1 {
   display: none;
}
#manufacturers_block_left {
    display: none;
}

.da_data-sheet-header {
    cursor: pointer;
}
.da_details-header {
    cursor: pointer;
}

/*NAV BAR*/
/*****END NAV BAR****/

/*Manufactuers Drop Down*/

/* Category Drop Down */


/*Category Menu*/


/*Viewed Products Section*/
#viewed-products_block_left {
    max-width: 300px;
    background: #efefef;
    margin: 30px 0;
    padding-bottom: 8px;
    margin-top: 0px;
}
#viewed-products_block_left .clearfix {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: 10px;
}

/*** END DROP DOWN FUNCTIONALITY ***/


/*Hide stock availability*/
#availability_value {
    display: none;
}


/*Change background behind add to cart*/
#add_to_cart {
    background: none;
    margin-bottom: 0px !important; 
    padding-bottom: 15px;
    margin-top: 0px;
}
.content_prices {

}
.product_attributes {
    background: #e1e1e1;
    margin-bottom: 0px !important;
}
#quantity_wanted_p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.da_quantity-wrapper {
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.da_quantity-wrapper a {
    margin: 0 !important;
}
.da_quantity-wrapper input {
    width: 70% !important;
}
#quantity_wanted_p label {
    text-align: left !important;
    width: 90% !important;
    font-weight: 800;
    color: #333 !important;
    font-size: 12px !important;
    margin-left: 46px
}

/*RIGHT COLUMN WITH SOCIAL ICONS*/
.pb-right-column {
    display: none !important;
    height: 100% !important;
    flex: 1;
    padding-bottom: 30px;
}
.pb-center-column {
    flex: 1;
}
.da_column-wrapper {
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
    
}
.socialsharing_product {
    margin-bottom: 10px;
}
#usefull_link_block {
    margin-top: 0px;
    width: 65%
}
.pb-right-column .warning_inline {
    display: none !important;
    max-width: 220px;
}
.pb-center-column #usefull_link_block {
    display: none
}
.pb-center-column .socialsharing_product {
    display: none;
}


@media screen and (max-width: 876px) {
    /**** MOBILE MENU ****/
/***** END END END END END ****/
}





/* CSS 2 */

.product_attributes{
    padding-bottom: 2px;
}
#last_quantities {
    background: #444;
    border: none;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 6px;
}
#add_to_cart {
    max-width: 75%;
    margin-bottom: 15px;
    margin-top: 5px;
}
#add_to_cart button {
    padding: 0px !important;
    background: #6db541;
    border: none;
}
.product_quantity_down {
    height: 30px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
}
.product_quantity_up {
    height: 30px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
}
#quantity_wanted {
    max-height: 30px !important;
    max-width: 95px !important;
}
/*box background*/
.content_prices {
  background: #fff;
  display: flex;
}
.content_prices > div > p > span {
    color: #000 !important;
}
.pb-right-column {
  background: #e1e1e1;
  padding: 0px;
}

/* VP */
.da_vps {
    margin: 7px 0 10px 0;
}
.box-security  {
    padding-top: 10px
}
.box-security > p {
    margin-bottom: 20px;
}
.box-security > img {
    margin-bottom: 10px;
}
#usefull_link_block {
  display: none;
}
#send_friend_button:before {
    font-family: "FontAwesome";
    font-size: 13px;
    content: "\f02f";
}
.da_v2-social-ctn {
    display: flex;
    background: white;
}
.da_v2-social-ctn > a:last-child:before {
    content: "\f003";
    font-family: "FontAwesome";
    font-size: 13px;
    text-align: center;
    left: 0;
    font-weight: normal;
}
.da_v2-social-ctn > a, .da_v2-social-ctn button{
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 4px;
    background: none;
    background: #e1e1e1;
}
.box-info-product {
    background: #e1e1e1;
}
.box-info-product .exclusive:hover {
  color: #fff;
}
.box-info-product .exclusive:hover span {
  color: #fff;
}
.da_v2-social-ctn > button:first-child {
  margin-left: 0;
}

#buy_block {
    max-width: 300px;
}


@media screen and (max-width: 767px) {
    .pb-center-column {
        margin-bottom :0px;
    }
  .pb-right-column {
    max-width: 90vw;
    margin: 0 auto;
    display: block;
    margin-top: -10px;
  }
  #add_to_cart {
    width: 180px;
    max-width: 67%;
  }
  .da_v2-social-ctn {
    margin-bottom: 100px;
  }
    /* Start DROP DOWN FUNCTIONALITY */
    .da_data-sheet-header {
        background: #efefef;
        padding: 8px;
        margin-bottom: 0px !important;
    }
    .da_details-header {
        background: #efefef;
        padding: 8px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    /**End Drop Down**/

    /**Position of social**/
    .da_column-wrapper {
        flex-direction: column-reverse
    }
    /**End of position**/
    .da_breadcrumbs {
        max-width: 90vw;
    }
    #columns > div > h1 {
       margin-top: 0px;
       padding: 0 20px;
       text-align: center;
       display: block;
       margin-bottom: 30px;
    }
    .da_column-wrapper {
        padding-left: 0px;
    }
    .pb-right-column {
        display: flex;
        flex-direction: column;
    }
    .pb-right-column .warning_inline {
        display: block !important;
    }
    .warning_inline {
        margin-bottom: 15px !important;
    }
    #usefull_link_block {
        margin-top: 0px;
        width: 25%
    }
    .da_column-wrapper > div > .socialsharing_product {
        display: none;
    }
    .da_column-wrapper > div > #usefull_link_block {
        display: none;
    }
    .da_email-btns {
        display: block !important;
        margin-bottom: 20px;
        margin-top: -39px !important;

    }
    #usefull_link_block {
        display: none !important;
    }
    .da_social-btns {
        display: none !important;
        margin-top: -20px;
        padding-bottom: 60px;
    }
    .da_quantity-wrapper {
        min-width: 100%;
        justify-content: flex-start;
    } 
    .da_quantity-wrapper input {
        max-width: 40%;
    }
    #quantity_wanted_p label {
        width: 100% !important;
        font-weight: 800;
        color: black !important;
        font-size: 12px !important;
        margin-left: 4px;
    }
}
@media screen and (max-width: 500px) {
    #header > div.mod_head > div > div {
        padding: 0px 10px;
    }
    #header_logo {
        padding: 0px 5px;
    }
    .da_phone {
        margin: 0 2px;
    }
    .da_cart {
        margin: 0 2px;

    }
    .da_search {
        margin: 0 2px;

    }
}
