/* CSS 1 */

.da_video {
  position: absolute;
  z-index: 2;
  top: 0;
}

.da_hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(70,70, 70, .7);
  	position: relative;
  	z-index: 3
}
.da_headline {
    color: white;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    line-height: 45px
}
.da_headline span br {
    display: none;
}
.da_value-props {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
		padding: 20px 0;
}
.da_value-props-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://s3-us-west-1.amazonaws.com/static.disruptive.co/wilding-wallbeds/homepage-hero-value-proposition/valueprops_desktop.png);
}
.da_hero a {
    background: #cea24c; 
    color: white;
    margin: 0 auto;
    padding: 10px 90px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
.da_hero a:hover {
    background: #cda65a; 
}


@media screen and (max-width: 850px) {
    .da_value-props {
        height: 200px;
        max-width: 300px;

    }
    .da_value-props-img {
        background-image: url(https://s3-us-west-1.amazonaws.com/static.disruptive.co/wilding-wallbeds/homepage-hero-value-proposition/valueprops_mobile.png);
    }
}


@media screen and (max-width: 680px) {
    .da_headline span br {
        display: block;
    }
		.da_headline {
			margin-bottom: 20px;
		}
    .da_value-props {
        width: 75%;
				max-width: 300px;
    }
}


@media screen and (max-width: 420px) {
    .da_value-props {
        width: 80%;
    }
}


/**ZIG ZAG**/

.zigzag-wrapper, .zigzag-text {
	position: relative;
}
.zigzag-wrapper svg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	overflow: visible;
}
.zigzag-wrapper svg path {
	stroke: #cea34c;
	stroke-width: 9;
	fill: none;
	stroke-dasharray: 1500;
	-webkit-animation: dash 10s infinite;
	animation: dash 10s infinite;
}
@keyframes dash {
	0% {
		stroke-dashoffset: 3000;
		opacity: 0;
	}
	6% {
		opacity: 0;
	}
	7% {
		opacity: 1;
	}
	20% {
		stroke-dashoffset: 0;
	}
	90% {
		opacity: 1;
	}
	100% {
		stroke-dashoffset: 0;
		opacity: 0;
	}
}
