/*TAB SECTION*/
 .product-title.desktopvisible  {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;  
 }
.yotpo.bottomLine {
    margin-top: -15px;
}
.swatch .swatch-element.soldout label {
    opacity: 1 !important;
}

.tabs_container {
    margin-top: 12px;
    margin-left: -50px;
    display: flex;
		max-width: 102vw;
		overflow: hidden;

}
.two-tone-tab {
    padding: 7px 66px;
    color: black;
    cursor: pointer;
    background: #f3f3f3;
}
.monochrome-tab {
    padding: 7px 50px;
    color: black;
    cursor: pointer;
    position: relative;
    background: #f3f3f3;
}
.two-tone-tab_active {
    border-top: 1px solid #f3f3f3;
    background: white !important;
}
.monochrome-tab_active {
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    background: white !important;
}
.monochrome-tab_absolute {
    height: 100%;
    width: 100vw;
    top: 0;
    left: 100%;
    position: absolute;
    border-bottom: 1px solid #f3f3f3;
}

/*Hide Sold out swatch (Aqua, Yellow, Olive)*/
#product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix > div:nth-child(42) {
    display: none !important;
}
#product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix > div:nth-child(9) {
    display: none !important;
}
#product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix > div:nth-child(25) {
    display: none !important;
}
#product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix > div:nth-child(46) {
	display: none !important;
}

/*Swatches Shape*/
.color_monochrome {
    display: flex;
    justify-content: center;
    align-items: center;
}
.color_two-tone {
    display: flex;
    justify-content: center;
    align-items: center;

}
.swatchesWrapper {
    display: inline-block;

}
.swatchesWrapper_monochrome {
    display: inline-block !important;
}

/*NEW IMAGES FOR THE COLORS*/



@media screen and (max-width: 770px) {

    /*Gets rid of shadow on click*/
    body.template-product .swatch input:checked + label {
        border: none;
        box-shadow: none;
    }
    /*Center Review STARS*/
    #product-form-6657100101 > div.product-options > div.product-swatchess > div.yotpo.bottomLine {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    /*Makes Tabs (Two-Tone | Monochrome) Full width*/
    .tabs_container {
         margin: 0 !important;
         padding: 0 !important;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 103vw;
         margin-left: -30px !important;
    }
    .two-tone-tab {
        padding: 7px 0px;
        color: black;
         background: #f3f3f3;
         flex: 1;
    }
    .monochrome-tab {
         padding: 7px 0;;
         color: black;
         cursor: pointer;
         position: relative;
        background: #f3f3f3;
        flex: 1;
    }
    /*Adjusts Tab borders for mobile*/
    .two-tone-tab_active {
      border-top: 1px solid #f3f3f3;
      background: white !important;
    }
    .monochrome-tab_active {
       border-top: 1px solid #f3f3f3;
       border-right: none;
       background: white !important;
    }
    
    /*Centers "Color: Charcoal/Rust" text */
    #product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix > div.header {
        text-align: left;
        margin: 15px 0px;
    }

    #product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix {
        width: 100%;
        text-align: left;
    }

}


@media screen and (max-width: 390px) {
    body .product-swatchess .swatch label {
        transform: scale(.9)
    }
   	.swatchesWrapper {
		width: 33px;
		height: 25px;
		margin: 0 2px 2px 0 !important;
	}
	.swatchesWrapper_monochrome {
		width: 33px;
		height: 25px;
		margin: 0 2px 2px 0 !important;
	}	
	/*Height of swatches text container */
	#product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix {
	    height: 100px;
	}

}

@media screen and (max-width: 340px) {
    body .product-swatchess .swatch label {
        transform: scale(.8)
    }
   	.swatchesWrapper {
		width: 30px;
		height: 25px;
		margin: 0 2px 2px 0 !important;
	}
	.swatchesWrapper_monochrome {
		width: 30px;
		height: 25px;
		margin: 0 2px 2px 0 !important;
	}	

}

