 .product-title.desktopvisible  {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;  
 }
.yotpo.bottomLine {
    margin-top: -15px;
}


.tabs_container {
    margin-top: 12px;
    margin-left: -50px;
    display: flex;
}
.two-tone-tab {
    padding: 7px 66px;
    color: black;
    cursor: pointer;
    background: #f3f3f3;
}
.monochrome-tab {
    padding: 7px 50px;
    color: black;
    cursor: pointer;
    position: relative;
    background: #f3f3f3;
}


.two-tone-tab_active {
    border-top: 1px solid #f3f3f3;
    background: white !important;
}
.monochrome-tab_active {
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    background: white !important;
}
.monochrome-tab_absolute {
    height: 100%;
    width: 100vw;
    top: 0;
    left: 100%;
    position: absolute;
    border-bottom: 1px solid #f3f3f3;
}


.swatch-element.available {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 120%;
}
div[data-value="Red"] {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 120%;
}
div[data-value="Blue"] {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 120%;
}
div[data-value="Navy"] {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 120%;
}
div[data-value="Charcoal Grey"] {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 120%;
}
div[data-value="Pebble-Grain Black"] {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 120%;
}
.color_monochrome {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 120%;
}
.color_two-tone {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 120%;
}

body .swatch label {
    background-position: 55% 50%;
    background-size: 150%;
    border-radius: 0;
    height: 200px !important;
    width: 300px;
    transform: rotate(60deg) translateX(-4px);
    background-repeat: no-repeat;
}
.swatchesWrapper {
    display: inline-block;
    overflow: hidden;
    height: 40px;
    width: 60px;
    margin: 0 10px 10px 0;
}
.swatchesWrapper_monochrome {
    display: inline-block;
    overflow: hidden;
    height: 40px;
    width: 60px;
    margin: 0 10px 10px 0;
}

@media screen and (max-width: 770px) {
body.template-product .swatch input:checked + label {
    border: none;
    box-shadow: none;
}
    .monochrome-tab_absolute {
        display: none
    }
    #product-form-6657100101 > div.product-options > div.product-swatchess > div.yotpo.bottomLine {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .tabs_container {
         margin: 0 !important;
         padding: 0 !important;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 103vw;
         margin-left: -30px !important;
    
    }
    #product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix {
        display: block;
    }
    .two-tone-tab {
        padding: 7px 0px;
        color: black;
        cursor: pointer;
         background: #f3f3f3;
         flex: 1;
    }
    .monochrome-tab {
         padding: 7px 0;;
         color: black;
         cursor: pointer;
         position: relative;
        background: #f3f3f3;
        flex: 1;
    }
    .two-tone-tab_active {
      border-top: 1px solid #f3f3f3;
      background: white !important;
    }
    .monochrome-tab_active {
       border-top: 1px solid #f3f3f3;
       border-right: none;
       background: white !important;
    }

    .swatch.clearfix {
        text-align: left !important;
    }
    #product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix > div.header {
        text-align: center;
    }

body .swatch label {
    background-position: 50% 50%;
    background-size: 120%;
    border-radius: 0;
    min-height: 120px !important;
    min-width: 120px !important;
    transform: rotate(60deg) translateX(-4px);
    background-repeat: no-repeat;
    flex: 1;
}

.swatchesWrapper {
}
.color_two-tone {
    justify-content: center;
    align-items: center;
}

#product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix > div > div {
    display: flex;

}


  
}
