/*Formatting for Headline*/
 .product-title.desktopvisible  {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;  
 }
.yotpo.bottomLine {
    margin-top: -15px;
}


/*Category Text (monochrome, two-tone)*/




/*Hide Sold out swatch (Lime, Aqua, Yellow, Olive)*/
.swatch-element.color.grey-yellow.available.color_two-tone {
    display: none;
}
.swatch-element.color.grey-aqua.available.color_two-tone {
    display: none;
}
.swatch-element.color.black-olive.available.color_two-tone {
    display: none;
}



/*Swatches Shape*/
.color_monochrome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}
.color_two-tone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;

}
.da_two-tone-swatch__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.da_monochrome-swatch__wrapper {
    display: flex;
    flex-wrap: wrap;

}
.swatchesWrapper {
    display: inline-block !important;

}
.swatchesWrapper_monochrome {
    display: inline-block !important;
}

/*Swatches Size*/
   	.swatchesWrapper {
		max-width: 100%;
		height: 100%;
		margin: 0 0px 0px 0 !important;
		transform: scale(.8);
	}
	.swatchesWrapper_monochrome {
		max-width: 100%;
		height: 100%;
		margin: 0 0px 0px 0 !important;
		transform: scale(.8);
	}	






@media screen and (max-width: 770px) {
    /*Gets rid of flex for wrapper*/
    .da_two-tone-swatch__wrapper {
        display: initial !important;
        flex-wrap: wrap;
    }
    .da_monochrome-swatch__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    /*Gets rid of shadow on click*/
    body.template-product .swatch input:checked + label {
        border: none;
        box-shadow: none;
    }
    /*Center Review STARS*/
    #product-form-6657100101 > div.product-options > div.product-swatchess > div.yotpo.bottomLine {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    /*Centers "Color: Charcoal/Rust" text */
    #product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix > div.header {
        text-align: left;
        margin: 15px 0px;
    }

    #product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix {
        width: 100%;
        text-align: left;
    }
    #product-form-6657100101 > div.product-options > div.product-swatchess {
        width: 100%;
    }

    /*Swatches Size*/
   	.swatchesWrapper {
		max-width: 100%;
		height: 100%;
		margin: 0 5px 0px 0 !important;
		transform: scale(1);
	}
	.swatchesWrapper_monochrome {
		max-width: 100%;
		height: 100%;
		margin: 0 5px 0px 0 !important;
		transform: scale(1);
	}
	/*Correct margin after 3rd two tone*/
	#product-form-6657100101 > div.product-options > div.product-swatchess > div.swatch.clearfix > div.da_two-tone__container > div.da_two-tone-swatch__wrapper > div:nth-child(3) {
	    margin-right: 0 !important;
	}


	/*Spacing for categories*/
	.da_two-tone__header {
	    margin-bottom: 10px;
	}
	.da_two-tone__container {
	    margin-bottom: 15px !important
	}
    .da_monochrome__header {
	    margin-bottom: 10px;
	}
}






@media screen and (max-width: 380px) {
    /*Swatches Size*/
   	.swatchesWrapper {
		max-width: 100%;
		height: 100%;
		margin: 0 0px 0px 0 !important;
		transform: scale(.9);
	}
	.swatchesWrapper_monochrome {
		max-width: 100%;
		height: 100%;
		margin: 0 0px 0px 0 !important;
		transform: scale(.9);
	}
}

