/*** CSS 3 ***/
@media screen and (max-width: 899px) {
	
	#MainNav {
		margin-bottom: 5px;
	}

	/*CHANGE HERO*/
	    .homeRotateWrap > div:first-child {
            background-image: url(https://static.disruptive.co/dieselogic/pdp-hero-image-mobile/heroImgV3.png);
	        background-size: cover;
	        background-repeat: no-repeat;
	        background-position: center;
	    }
		.da_hero-text-ctn {
            margin: 0px;
		}
		.da_hero-text-ctn h2 {
		    margin: 0px;
		    font-weight: 100 !important;
		    font-family: oswaldlight;
		    padding-left: 15px;
		}

		.da_black-text {
		    margin-top: 5px !important;
		    color: #3f3f3f;
		    font-size: 20px;
		}

		.da_yellow-text {
            color: #fff;
            font-size: 22px;
			background: #292e35;
			margin-bottom: 50px !important;
			max-width: 230px;
		}

		.da_white-text {
			color: #fff;
			font-size: 16px;
			background: #292e35;
			margin-bottom: 5px !important;
			padding-top: 5px;
			padding-bottom: 5px;
			max-width: 180px;
		}

		.da_lightning {
		    width: 100%;
		    position: absolute;
		    bottom: 10px;
		}


}
